.productDisplay{
    display: flex;
    margin: 0 3vw;
    overflow: hidden;
    justify-content: space-between;
    gap: 30px;
}
.productDisplay_left{
    display: flex;
    gap: 17px;
    justify-content: center;
}
.productDisplay_list_img{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.productDisplay_list_img img {
    max-width: 100%; 
    height: auto;
    width: 135px;
}
.productDisplay_img{
    height:  100%;
}
.productDisplay_main_img {
    width: 586px;
    height: 700px;
    max-width: 100%; 
    height: auto;
}
.productDisplay_right{
    display: flex;
    flex-direction: column;
    flex-basis: 39rem;
}
.productDisplay_right h1{
    color: #3d3d3d;
    font-size: 3vw;
    font-weight: 700;
}
.productDisplay_right_stars{
    display: flex;
    align-items: center;
    margin-top: 13px;
    margin-bottom: 13px;
    gap: 5px;
    color:#1c1c1c;
    font-size: 16px;
}
.product_display_right_price{
    display: flex;
    margin: 20px 0;
    gap: 30px;
    font-size: 24px;
    font-weight: 700;
}
.product_display_right_price_old{
    color: #818181;
    text-decoration: line-through;
}
.product_display_right_price_new{
    color: #ff4141;
}

.productDisplay_right_size h1{
    margin-top: 26px;
    color: #656565;
    font-size: 20px;
    font-weight: 600;
}
.productDisplay_right_sizes{
    display: flex;
    margin: 30px 0;
    gap: 20px;
}
.productDisplay_right_sizes div{
    padding:18px 24px ;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    cursor: pointer;
}
.productDisplay_right button{
    padding:20px 40px ;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background: #ff4141;
    margin-bottom: 40px;
    border: none;
    outline: none;
    cursor: pointer;
}
.productDisplay_right_categoty{
    margin-top: 10px;

}
.productDisplay_right_categoty span{
    font-weight: 600;
}
@media screen and (max-width:1164px) {
    .productDisplay{
        flex-direction: column;
    }
}
@media screen and (max-width:840px) {
    .productDisplay_right h1{
        font-size: 5vw;
    }
    .productDisplay_right_dics{
        font-size: 14px;
    }
}